html,
body {
    height: 100%;
    overflow: hidden;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;
}
header {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #4caf50;
}
#main{
    overflow-x: auto;
    min-width: 30vw;
}
#port {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 10px;

}

.container {
    background: #4caf50;
    color: white;
    padding: 3px;
    margin: 2px 0;
    text-align: center;
    font-size: 12px;
}

#side {
    width: 100%;
}
#table{
    border-radius: 1em;
}
.cell{
    background-color: var(--bs-secondary-bg);
    height: 9em;
    width: 7.5em;
}
.card-body {
    padding: 0.1em !important;
}

#actions {
    padding: 10px;
    min-height: 150px;
    font-size: 12px;
    white-space: pre-line;
    background-color: var(--bs-secondary-bg);
    border: var(--bs-border-color-translucent) 1px solid;
    border-radius: 1em;
}

#btn-start {
    margin-top: 10px;
}

#logList {
    list-style-type: none;
    padding: 0;
    background-color: var(--bs-secondary-bg);
    color: white;
    padding: 1em;  
    border-radius: 1em;
    height: 85vh;
    overflow-y: auto;
    font-family: monospace;
    font-size: small;
}
.tinyCircle {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
#arduino-cmd{
    background-color: var(--bs-body-bg);
    color: white;
    padding: 3px;
    margin: 2px 0;
    font-size: 12px;
    height: 18em;
    list-style-type: none;
    font-family: monospace;
    overflow-y: auto;
}

.info {
    color: #2196F3;
}
.warn {
    color: #ffaa00;
}
.error {
    color: #f95857;
}
.success {
    color: #0a0;
}
#schemas-grue{
    /* fit maximum content */
    width: 80vw;

}
#logList_2{
    list-style-type: none;
    padding: 0;
    background-color: var(--bs-secondary-bg);
    color: white;
    padding: 1em;
    border-radius: 1em;
    overflow-y: auto;
    font-family: monospace;
    font-size: small;
    height: 10rem;
    width: 100%;
    margin: 0;
}
#logList_2_c{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#mainContent{
    width: 100%;
    overflow-y: auto;
}
#v-pills-tabContent{
    margin-left: 11em;
}
#tab{
    position: fixed;
}
#newActions{
    display: none;
}