html,
body {
    height: 100%;
    overflow: hidden;
}
.loading-scrn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.loading-scrn #loading-logo {
    font-size: 3em;
    font-weight: bold;
    background-color: currentColor;
    margin-bottom: 20px;
    width: 35vh;
    height: 35vh;
    mask-size: 35vh !important;
    -webkit-mask: url("../assets/icons/synapsis_s.svg") no-repeat center;
    mask: url("../assets/icons/synapsis_s.svg") no-repeat center;
    z-index: 1;
}

.loading-scrn #loading-bglogo {
    position: absolute;
    width: 35vh;
    height: 35vh;
    border-radius: 8vh;
    top: 50%;
    right: 100%;
    transform: translate(-50%, -52%);
    z-index: 0;
    font-size: 3em;
    font-weight: bold;
    background-color: rgb(87, 87, 255);

}

.loading-container {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 0;
    height: 4vh;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid rgba(40, 38, 44, 0.281);
    background-color: white;
    border-radius: 2em;
}
#loading-bar {
    width: 0;
    height: inherit;
    background-color: rgb(87, 87, 255);
    animation: loading 3s linear forwards;
    border-radius: 2em;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;
}
header {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #4caf50;
}
#main{
    overflow-x: auto;
    min-width: 30vw;
}
#port {
    display: grid;
    grid-template-columns: repeat(4, 6.5em);
    grid-gap: 10px;

}

.container {
    background: var(--bs-success);
    color: white;
    padding: 1px;
    margin: 2px 0;
    text-align: center;
    font-size: 10px;
}

#side {
    width: 100%;
}
#table{
    border-radius: 1em;
}
.cell{
    background-color: var(--bs-secondary-bg);
    height: 7.5em;
    width: 6.5em;
    margin-bottom: 0 !important;
}
.card-body {
    padding: 0.1em !important;
}
.card-header {
    font-size: .8em;
}

#actions {
    padding: 10px;
    min-height: 150px;
    font-size: 12px;
    white-space: pre-line;
    background-color: var(--bs-secondary-bg);
    border: var(--bs-border-color-translucent) 1px solid;
    border-radius: 1em;
}

#btn-start {
    margin-top: 10px;
}

#logList {
    list-style-type: none;
    padding: 0;
    background-color: var(--bs-secondary-bg);
    color: white;
    padding: 1em;  
    border-radius: 1em;
    height: 85vh;
    overflow-y: auto;
    font-family: monospace;
    font-size: small;
}
.tinyCircle {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
#arduino-cmd{
    background-color: var(--bs-body-bg);
    color: white;
    padding: 3px;
    margin: 2px 0;
    font-size: 12px;
    height: 18em;
    list-style-type: none;
    font-family: monospace;
    overflow-y: auto;
}

.info {
    color: #2196F3;
}
.warn {
    color: #ffaa00;
}
.error {
    color: #f95857;
}
.success {
    color: #0a0;
}
#schemas-grue{
    /* fit maximum content */
    width: 80vw;

}
#logList_2{
    list-style-type: none;
    padding: 0;
    background-color: var(--bs-secondary-bg);
    color: white;
    padding: 1em;
    border-radius: 1em;
    overflow-y: auto;
    font-family: monospace;
    font-size: small;
    height: 10rem;
    width: 100%;
    margin: 0;
}
#logList_2_c{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#mainContent{
    width: 100%;
    overflow-y: auto;
}
#v-pills-tabContent{
    margin-left: 12em;
    width: calc(100% - 12em);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
#v-pills-infos-tab{
    background-color: transparent !important;
}
#v-pills-infos {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

#tab{
    position: fixed;
    min-width: 10em;
}
#newActions{
    display: none;
}

.nav-link{
    padding-left: 0.5em;
    padding-right: 1em;
}
.demo-container{
    position: absolute;
    bottom: 0;
    width: 90px;
    height: 110px;
    background-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    border-radius: 1em;

    
}

.pince{
    position: absolute;
    height: 100vh;
    bottom: 120px;
}
.pince-1{
    position: absolute;
    width: 90px;
    height: 10px;
    background-color: red;
    border-radius: 1em;
    bottom: 0;
}
.pince-2{
    position: absolute;
    width: 10px;
    height: 100vh;
    background-color: red;
    border-radius: 1em;
    margin-left: 40px;
}
.defilement-texte {
    color: var(--bs-light-rgb);
    font-size: 25px;
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    text-align: left;
    perspective: 500px; 
    opacity: 0;

}



.defilement-texte .orange{
    color: #ffaa00;
}
